.race-screen{
    width:100%;
    .answers{
        .user-answers{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .user-answer{
                color: red;
                &.correct{
                    color:Green
                }
            }
        }
    }
}