.race-track-outer{
    text-align: center;
    width:100%;
    h3{
        font-size: 0.8rem;
        @media screen  and (min-width:600px){
            font-size:1.17rem
        }
        color:lightcoral;
        &.submitted{
            color:lightgreen;
        }
    }

    .race-track {
        display: grid;
        grid-template-columns:  repeat(11,minmax(20px,1fr));
        grid-column-gap: 4px;
        min-height: 40px;
        width:100%;

        @media screen and (min-width: 600px){
            min-height:100px;
        }
        .space {
            border-bottom: 1px solid white;
            box-sizing: border-box;
            padding:0px;
            height: 40px;
            @media only screen and (min-width: 600px){
                height:200px;
                padding: 10px;

            }
        
            img {
                @media only screen and (min-width: 600px){
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
        
                }
                width:30px;
                height:30px;
            }
        }
        
       
    }
    .jail{
        display: none;
        @media screen  and (min-width:600px){
            display: block;
        }
        position:relative;
        
        margin:auto;
        width:100px;
            height:100px;
            @media screen  and (min-width:600px){
                width:200px;
                height:200px;
            }
        img{
            position:absolute;
            top:0px;
            left:0px;
            z-index:0;
            object-fit: contain;
            width:100%;
            height:100%;
           
        }
        .bars{
            width:100%;
            height:100%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top:0px;
            left:0px;
            z-index: 1;
            .bar{
                width:3px;
                @media screen  and (min-width:600px){
                    width:7px;
                }
                height:100%;
                background-color:  #3E3736;
            }
        }
    }
}